<%- include('../shared/home/header') -%>
<div id="plans">
    <div class="plans">
        <div class="title">
            <p>Sign up for Midas Circle</p>
            <p>Offering VIP plan for a limited time, maximum of 50 members.</p>
        </div>
        <div class="bar"></div>
        <div class="plan">
            <div class="features">
                <div class="col-cell">
                    <h5>FEATURES</h5>
                </div>
                <div class="col-cell">Small cap algo bot access</div>
                <div class="col-cell">Mid-large cap algo bot access</div>
                <div class="col-cell">Covered calls bot access</div>
                <div class="col-cell">Crypto bot access</div>
                <div class="col-cell">Option chain data</div>
                <div class="col-cell">Dark pool prints</div>
                <div class="col-cell">Access to VIP Investors page</div>
                <div class="col-cell">Midas Circle's team personal picks</div>
                <div class="col-cell">Investing help and guidance</div>
                <div class="col-cell">Monthly Subscription</div>
                <div class="col-cell"></div>
            </div>
            <div class="basic">
                <div class="col-cell">
                    <h4>Basic</h4>
                </div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/x.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/x.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/x.svg" alt=""></div>
                <div class="col-cell">
                    <h3 class="price">$40</h3>
                </div>
                <div class="col-cell"><a class="btn btn-primary btn-block" href="/create">Select</a></div>
            </div>
            <div class="premium">
                <div class="col-cell">
                    <h4>Premium</h4>
                </div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell"><img src="assets/images/check.svg" alt=""></div>
                <div class="col-cell">
                    <h3 class="price">$100</h3>
                </div>
                <div class="col-cell"><a class="btn btn-primary btn-block" href="/create">Select</a></div>
            </div>
        </div>
    </div>
</div>
<%- include('../shared/home/footer') -%>